

.wd-removeunderline
{
    text-decoration: none;
    color:grey;
    font-weight: bolder;

}

.wd-removeunderline:hover {
    color: grey;
}

.wd-wholediv
{
    margin-bottom: 10px!important;
}
@media (max-width: 568px)
{

    .wd-logo
    {
        width: 20%;
        margin-left: 170px;
    }

    .wd-dropdown
    {
        display: inline!important;
        width: 100%;
    }

    .navbar-nav
    {
        margin-left: 10px;
    }

    .wd-signin
    {
        font-weight: bold;
        font-size: medium;
        margin-left: 15px;
    }

    .wd-signinlogowithoutlogin
    {
        margin-left: 10px;
    }

    .wd-withoutlogin
    {
        margin-left: 120px;
    }

    .wd-wholediv
    {
        margin-top:30px!important;
    }

    .wd-lop
    {
        font-weight: bold;
        font-size: medium;
        margin-right: 20px;
    }

    .wd-login
    {
        font-weight: bolder;
        text-decoration: none;
        color:grey;
        padding-left: 100px;
        margin-left: 70px;
    }

    .wd-navlinks
    {
        display: inline!important;
    }


}

@media(min-width: 650px)
and (max-width: 767px){


    .wd-logo
    {
        width: 20%;
        margin-left: 35px;
        margin-bottom: 10px;
    }

    .wd-dropdown
    {
        display: inline!important;
        width: 100%;
    }

    .navbar-nav
    {
        border: none!important;
    }

    .wd-signin
    {
        font-weight: bold;
        font-size: medium;
        margin-left: 15px;
    }

    .wd-signinlogowithoutlogin
    {
        margin-left: 10px;
    }

    .wd-withoutlogin
    {
        margin-left: 10px;
    }

    .wd-wholediv
    {
        margin-top:30px!important;
    }

    .wd-lop
    {
        font-weight: bold;
        font-size: medium;
        margin-right: 20px;
    }

    .wd-login
    {
        font-weight: bolder;
        text-decoration: none;
        color:grey;
        padding-left: 2px;
    }

    .wd-navlinks
    {
        display: inline!important;
    }


}


@media (min-width: 768px)
and (max-width: 991px){
      .wd-logo
    {
        width: 20%;
        margin-left: 35px;
        margin-bottom: 10px;
    }

    .wd-dropdown
    {
        display: inline!important;
        width: 100%;
        background-color: red;
    }

    .navbar-nav
    {
        border: none!important;
    }

    .wd-signin
    {
        font-weight: bold;
        font-size: medium;
        margin-left: 1px;
    }

    .wd-signinlogowithoutlogin
    {
        margin-left: 10px;
    }


    .wd-wholediv
    {
        margin-top:30px!important;
    }

    .wd-lop
    {
        font-weight: bold;
        font-size: medium;
        margin-right: 30px;
    }

    .wd-login
    {
        font-weight: bolder;
        text-decoration: none;
        color:grey;
        background-color: red;
    }

    .wd-navlinks
    {
        display: inline!important;
    }
}

@media (min-width: 992px)
and (max-width: 1199px){

    .wd-logo
    {
        width: 20%;
        margin-left: 35px;
        margin-bottom: 10px;
    }

    .wd-dropdown
    {
        display: inline!important;
        width: 100%;
    }

    .navbar-nav
    {
        border: none!important;
    }

    .wd-signin
    {
        font-weight: bold;
        font-size: medium;
        margin-left: 15px;
    }

    .wd-signinlogowithoutlogin
    {
        margin-left: 10px;
    }

    .wd-wholediv
    {
        margin-top:30px!important;
    }

    .wd-lop
    {
        font-weight: bold;
        font-size: medium;
        margin-right: 30px;
        margin-left: 50px;
    }

    .wd-login
    {
        font-weight: bolder;
        text-decoration: none;
        color:grey;
        padding-left: 130px;
    }

    .wd-navlinks
    {
        display: inline!important;
    }



}

@media (min-width: 1200px)
and (max-width: 1400px){

    .wd-logo
    {
        width: 20%;
        margin-left: 35px;
        margin-bottom: 10px;
    }

    .wd-dropdown
    {
        display: inline!important;
        width: 100%;
    }

    .navbar-nav
    {
        border: none!important;
    }

    .wd-signin
    {
        font-weight: bold;
        font-size: medium;
        margin-left: 15px;
    }

    .wd-signinlogowithoutlogin
    {
        margin-left: 10px;
    }

    .wd-withoutlogin
    {
        margin-left: 200px;
    }

    .wd-wholediv
    {
        margin-top:30px!important;
    }

    .wd-lop
    {
        font-weight: bold;
        font-size: medium;
        margin-right: 20px;
    }

    .wd-login
    {
        font-weight: bolder;
        text-decoration: none;
        color:grey;
        padding-left: 100px;
    }

    .wd-navlinks
    {
        display: inline!important;
    }


}

@media (min-width: 1401px )
{

    .wd-logo
    {
        width: 15%;
    }

    .wd-dropdown
    {
        display: inline!important;
        width: 40%;
    }

    .navbar-nav
    {
        border: none!important;
    }
    .wd-signin
    {
        font-weight: bolder;
    }

    .wd-signinlogo
    {
        margin-left: 10px;
    }


    .wd-wholediv
    {
        margin-top:30px!important;
    }

    .wd-lol
    {
        font-weight: bolder;
    }

    .wd-lop
    {
        margin-left: 80px;
        margin-right: 10px;

    }

    .wd-login
    {
        font-weight: bolder;
        text-decoration: none;
        color:grey;
    }



}
