
.wd-logo
{
    width: 15%;
}

.wd-dropdown
{
    display: inline!important;
    width: 40%;
}

.navbar-nav
{
    border: none!important;
}
.wd-signin
{
    padding-right: 20px;
    padding-left: 25px;
    font-weight: bolder;
}

.wd-signinlogo
{
    margin-left: 10px;
}


.wd-wholediv
{
    margin-top:30px!important;
}

.wd-lol
{
    font-weight: bolder;
}

.wd-lop
{
    margin-left: 150px;
    margin-right: 10px;

}




@media (max-width: 649px) {

}


@media(min-width: 650px)
and (max-width: 767px){

}


@media (min-width: 768px)
and (max-width: 991px){




}

@media (min-width: 992px)
and (max-width: 1199px){

    .wd-logo
    {
        width: 15%;
        margin-left: 25px;
    }

    .wd-dropdown
    {
        display: inline!important;
        width: 100%;
    }

    .navbar-nav
    {
        border: none!important;
    }
    .wd-signin
    {
        padding-right: 20px;
        padding-left: 5px;
        font-weight: bolder;
    }

    .wd-signinlogo
    {
        margin-left: 5px;
    }


    .wd-wholediv
    {
        margin-top:30px!important;
    }

    .wd-lol
    {
        font-weight: bolder;
    }

    .wd-lop
    {
        margin-left: 5px;

    }

}

@media (min-width: 1200px)
and (max-width: 1400px){

    .wd-logo
    {
        width: 15%;
        margin-left: 25px;
    }

    .wd-dropdown
    {
        display: inline!important;
        width: 100%;
    }

    .navbar-nav
    {
        border: none!important;
    }
    .wd-signin
    {
        padding-right: 20px;
        padding-left: 25px;
        font-weight: bolder;
    }

    .wd-signinlogo
    {
        margin-left: 10px;
    }


    .wd-wholediv
    {
        margin-top:30px!important;
    }

    .wd-lol
    {
        font-weight: bolder;
    }

    .wd-lop
    {
        margin-left: 50px;
        margin-right: 10px;

    }




}

@media (min-width: 1401px )
{

    .wd-logo
    {
        width: 15%;
    }

    .wd-dropdown
    {
        display: inline!important;
        width: 40%;
    }

    .navbar-nav
    {
        border: none!important;
    }
    .wd-signin
    {
        padding-right: 20px;
        padding-left: 25px;
        font-weight: bolder;
    }

    .wd-signinlogo
    {
        margin-left: 10px;
    }


    .wd-wholediv
    {
        margin-top:30px!important;
    }

    .wd-lol
    {
        font-weight: bolder;
    }

    .wd-lop
    {
        margin-left: 80px;
        margin-right: 10px;

    }



}
