
.wd-searchimgdiv
{
}

.wd-searchimg
{
    width: 80%;
    height:500px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
    position: absolute;
}

.wd-textoverimage
{
   margin-top:120px;
    margin-left: 450px;
    font-weight: bolder;
    color:white;
    font-size: 40px;
    display: inline;
    position: absolute;

}

.wd-inputbox
{
    width:60% !important;
    margin-left: 260px;
    padding-top:200px;
}

.wd-searchtxt
{
    background-color: lightgrey;
    padding:10px;
    font-weight: bold;
    color:white;
}


@media (max-width: 572px) {

    .wd-textoverimage
    {
        margin-top:120px;
        margin-left: 130px;
        font-weight: bolder;
        color:white;
        font-size: 25px;
        display: inline;
        position: absolute;

    }

    .wd-inputbox
    {
        width:60% !important;
        margin-left: 100px;
        padding-top:200px;
    }


}


@media (min-width: 573px)
and (max-width: 649px) {

    .wd-textoverimage
    {
        margin-top:120px;
        margin-left: 170px;
        font-weight: bolder;
        color:white;
        font-size: 25px;
        display: inline;
        position: absolute;

    }

    .wd-inputbox
    {
        width:60% !important;
        margin-left: 150px;
        padding-top:200px;
    }


}


@media(min-width: 650px)
and (max-width: 767px){

    .wd-textoverimage
    {
        margin-top:120px;
        margin-left: 180px;
        font-weight: bolder;
        color:white;
        font-size: 30px;
        display: inline;
        position: absolute;

    }

    .wd-inputbox
    {
        width:60% !important;
        margin-left: 170px;
        padding-top:200px;
    }

}


@media (min-width: 768px)
and (max-width: 991px){

    .wd-textoverimage
    {
        margin-top:120px;
        margin-left: 250px;
        font-weight: bolder;
        color:white;
        font-size: 30px;
        display: inline;
        position: absolute;

    }

    .wd-inputbox
    {
        width:60% !important;
        margin-left: 200px;
        padding-top:200px;
    }

}

@media (min-width: 992px)
and (max-width: 1199px){

    .wd-textoverimage
    {
        margin-top:120px;
        margin-left: 290px;
        font-weight: bolder;
        color:white;
        font-size: 40px;
        display: inline;
        position: absolute;

    }

    .wd-inputbox
    {
        width:60% !important;
        margin-left: 220px;
        padding-top:200px;
    }

}

@media (min-width: 1200px)
and (max-width: 1400px){

    .wd-textoverimage
    {
        margin-top:120px;
        margin-left: 400px;
        font-weight: bolder;
        color:white;
        font-size: 40px;
        display: inline;
        position: absolute;

    }

    .wd-inputbox
    {
        width:60% !important;
        margin-left: 260px;
        padding-top:200px;
    }

    .wd-searchtxt
    {
        background-color: lightgrey;
        padding:10px;
        font-weight: bold;
        color:white;
    }

}

@media (min-width: 1401px )
{

}