.wd-eacheventcard {
    margin-top: 10px;
    border-color: transparent!important;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 100%;
    max-width: 18rem;
}

.wd-eacheventimg {
    border-radius: 15px;
    width: 100%;
    height: auto;
}

.wd-EventTitle {
    font-weight: bolder;
    margin-left: -10px;
}

@media (max-width: 767px) {
    .wd-eacheventcard {
        max-width: 100%;
    }
}
